NEXT_PUBLIC_WEBSITE_URL= 
#url without / at the end

DATABASE_URL=
#format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require

NEXTAUTH_SECRET=
#generate a random string with at least 32 characters for production
NEXTAUTH_URL=
#same as NEXT_PUBLIC_WEBSITE_URL

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
#can be found in Cloudinary dashboard under Settings > Upload > Upload presets

#can be obtained from https://resend.com/dashboard/api-keys after connecting your domain
RESEND_API_KEY=
#the email address that will be used for sending all emails from the system, including password reset emails, notifications, etc.
SENDING_EMAIL_ADDRESS=

#the main email of the admin, will be used for recieving password reset emails and other important notifications
ADMIN_EMAIL_ADDRESS=

NEXT_PUBLIC_RECAPTCHA_V2_SITE_KEY=
RECAPTCHA_V2_SECRET_KEY=
