NEXT_PUBLIC_WEBSITE_URL= 
#url without / at the end

DATABASE_URL=
#format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require

NEXTAUTH_SECRET=
#generate a random string with at least 32 characters for production
NEXTAUTH_URL=
#same as NEXT_PUBLIC_WEBSITE_URL

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
#can be found in Cloudinary dashboard under Settings > Upload > Upload presets
